@import "./components/resets.scss";

header{
    height:70px;
    background:rgb(255, 191, 0);
    font-weight: 800;
    margin:0;
}

section{
    background:rgb(255, 247, 1);
     flex-grow: 1;
     margin:0;
     padding:5px;
}

footer{
    background:rgb(255, 191, 0);
    height:50px;
    margin:0; 
    padding:5px;
    font-weight: 500; 
}