.selector    //Check the value in style.css
{
    //Math Function
    padding:max(10px,50px,20px,60px,2px);
    padding:min(10px,50px,20px,60px,2px);
    padding:random();
    padding:random(10);
    padding:random($limit:3);
    padding:unit(20em);
    padding:unitless(20em);

    //sass string functions
   // font-family:quote(20); error as inside it there should be a string
    font-family:quoute(arial);
    font-family:unquote(arial);
    font-family:to-upper-case("sutapa");
}